<div class="container">
    <form method="post">
        <input name="email" />
        <br />
        <span class="text-danger">
            @Html.ValidationMessage("Email")
        </span>
        <br />
        <br />
        <button type="submit">Send</button>
    </form>
</div>
