@model IEnumerable<IdentityRole>
<h4>Create Role</h4><br />
<form asp-action="create" asp-controller="role"> 
    <input type="text" name="role" value="" placeholder="add role" />
    <button>Add role</button>
</form>
@foreach(var role in Model)
{
    <hr />
    <div class="container ">
        <div class="raw">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                <div class="card-body">
                    <b >@role.Name</b><hr/>
                    <a class="btn btn-outline-danger" asp-action="delete" asp-route-id="@role.Id">Delete Role</a>
                  

                  
                </div>
            </div>

            </div>

        </div>

    </div>
  @*  <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class ="card-body">
                <b class="card-title">@role.Name</b>
            </div>
        </div>
    </div>*@

}
