
<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row p-1">
                <div class="col-1">User</div>
                <div class="col-5"><input type="text" id="userInput" /></div>
            </div>
            <div class="row p-1">
                <div class="col-1">Message</div>
                <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
            </div>
            <div class="row p-1">
                <div class="col-6 text-end">
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-6">
                    <hr />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
        <div class="col-3">
            <ul class="list-group">
              @foreach(var user in ViewBag.Users)
              {
                    <li  class="list-group-item">
                        <span id="@user.Id" class="@(user.ConnectionId!=null?"bg-online":"bg-offline")" style="display:inline-block;width:15px;height:15px;border-radius:50%;"></span>
                        <i class="userName">@user.UserName</i><a asp-controller="home" asp-action="ShowAlert" asp-route-userId="@user.Id">send message</a></li>
              }
            </ul>
            
               
            
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
        connection.start();
        //document.getElementById("sendButton").onclick=function(){
        //    let userValue = document.getElementById("userInput").value;
        //    let messageValue = document.getElementById("messageInput").value;
        //    connection.invoke("SendMessage",userValue,messageValue)
        //}
        connection.on("ReceiveMessage",function(user,message,time){
           // console.log(user,message,time);
           let li=document.createElement("li");
           li.innerText=user+" "+message+" "+time;
            document.getElementById("messagesList").append(li);
        })
        //connection.on("PrivateMessage", function (user, message, time) {
        //    // console.log(user,message,time);
        //    let li = document.createElement("li");
        //    li.innerText = user + " " + message + " " + time;
        //    document.getElementById("messagesList").append(li);
        //})
        connection.on("userdisconnect",function(id){
            let span=document.getElementById(id);
            span.classList.add("bg-offline");
            span.classList.remove("bg-online");
        })
        connection.on("userconnect", function (id) {
            let span = document.getElementById(id);
            span.classList.add("bg-online");
            span.classList.remove("bg-offline");
        })
        connection.on("UserShowAlert",function(name){
            alert(name+"says salam")
        })
        let userMassive=[];
        let listI=document.querySelectorAll(".userName");
        listI.forEach(i=>{
             i.onclick=function(){
                let userName=i.innerText;
                userMassive.push(userName);
                let userInput=document.getElementById("userInput");
                userInput.value=userMassive.join(' ');
            }
        })
        document.getElementById("sendButton").onclick = function () {
            let userValue = document.getElementById("userInput").value.trim();
            let messageValue = document.getElementById("messageInput").value;
            connection.invoke("SendMessage", userValue.split(' '), messageValue)
            userMassive = [];
            document.getElementById("userInput").value='';
        }
        connection.on("PrivateMessage",function(message){
            alert(message);
        })


    </script>
}
