@model ProductUpdateVM
@*@{
    var categoriees = (List<Category>)ViewBag.Category;
}*@
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product Update form</h4>
            @foreach (var image in Model.ProductImages)
            {
                <img width="200" height="200" src="~/img/@image.ImageUrl" />
              
                <a class="btn btn-outline-danger" asp-action="DeleteImage" asp-route-id="@image.Id">Delete</a>
            }<hr />
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" id="exampleInputUsername1" placeholder="Name">
                    <span asp-validation-for="Name" style="color:darkred"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" id="exampleInputUsername1" placeholder="Price">
                    <span asp-validation-for="Price" style="color:darkred"></span>
                </div>
                <select asp-for="CategoryId" asp-items="ViewBag.Category" class="form-select" aria-label="Default select example">
                   @* @foreach (var product in categoriees)
                    {
                        <option value="@product.Id">@product.Name</option>

                    }*@

                </select>
                <div class="form-group">
                    <label asp-for="Photos">Photos</label>
                    <input asp-for="Photos" class="form-control" id="exampleInputUsername1" placeholder="Photos">
                    <span asp-validation-for="Photos" style="color:darkred"></span>
                </div>

                <button type="submit" class="btn btn-outline-warning me-2">Update</button>
                <a class="btn btn-outline-dark" asp-action="index">Go Back  </a>
            </form>
        </div>
    </div>
</div>
@section Scripts{

    @*@await Html.PartialAsync("_ValidationPartial");*@
    <partial name="_ValidationPartial"></partial>

}
