@model Category
<hr />
<div class="container justify-content-center">
    <div class="raw">
       

        Category Name: <b style="color red">@Model.Name</b><hr />
        Category Description: <i>@Model.Description</i><hr />

        <p class="card-description">
            <a class="btn btn-outline-dark" asp-action="index">Go Back  </a>
        </p>

      

    </div>

</div>
