@model IEnumerable<Category>
<div class="container"> 
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category Table</h4>
                    <p class="card-description">
                        <a href="" class="btn btn-outline-success">Create Category</a>
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Settings</th>
                                   
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var category in Model)
                                {
                                    <tr>
                                        <td>@category.Name</td>
                                        <td>@category.ShortDesc</td>
                                        <td>
                                            <a href="" class="btn btn-outline-info"><i class="mdi mdi-auto-fix"></i></a>
                                            <a href="" class="btn btn-outline-secondary"><i class="mdi mdi-close"></i></a>
                                            <a href="" class="btn btn-outline-behance"><i class="mdi mdi-brightness-5"></i></a>
                                        </td>
                                     
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>